@import '../reset.css';
@import '../normalize.css';
body {
    font-style: normal;
    line-height: normal;
    font-family: 'Inter', sans-serif;
    font-size: 24px;
    color: #FFF;
}
.flex {
    display: flex;
}
.justify-content-center {
    justify-content: center;
}
.align-items-center {
    align-items: center;
}
.header-content {
    border-bottom: 3px solid #FFF;
    background: rgba(43, 74, 97, 0.87);
    height: 150px;
    justify-content: space-around;
}
.content {
    background-image: url(../img/footer-header-bg.jpg);
    background-size: cover;
}
#Main,
.header-links > a:nth-of-type(n+2),
.login,
.main-text > p,
.footer-first-line > p,
.footer-second-line > p,
.footer-third-line > p {
    font-size: 20px;
}
.login,
.join-clan > p,
.watch-trailer-button > p,
.avatar-language > p,
.card-text > p:nth-of-type(1),
.card-text > p:nth-of-type(2) {
    font-family: 'Headland One', serif;
}
.switcher-container > a,
.card1,
.watch-trailer-button > p,
.avatar-language > p,
.card-text > p:nth-of-type(1),
.card-text > p:nth-of-type(2),
.footer-first-line > p,
.footer-second-line > p,
.footer-third-line > p {
    text-align: center;
}
#Main {
    color: #94CFFF;
    text-decoration: none;
}
.header-links > a:nth-of-type(n+2) {
    color: #FFF;
    text-decoration: none;
}
.header-links > a {
    margin-left: 38px;
}
.login {
    width: 141px;
    height: 42px;
    border: 2px solid #26C7EA;
    background-color: #0B0E66;
    border-radius: 35px 0;
    color: #26C6EA;
}
.switcher-container {
    padding-left: 49px;
}
.switcher-container > a {
    color: #FFF;
    font-family: 'Hammersmith One', sans-serif;
    text-decoration: none;
    font-size: 16px;
}
.switcher {
    border-radius: 10px;
    border: 1px solid #FFF;
    width: 36px;
    height: 20px;
    margin: 0 10px;
    position: relative;
}
.slider::after {
    display: inline-block;
    content: "";
    position: absolute;
    width: 16px;
    height: 15px;
    border-radius: 50%;
    background-color: #fff;
    right: 3px;
    top: 2px;
}
.content2 {
    background-image: url(../img/avatar-main-bg.jpg);
    background-size: cover;
}
.content2-justify-content {
    justify-content: space-evenly;
    padding: 180px 0 179px 0;
}
.main-text > p:nth-of-type(1) {
    width: 298px;
}
.main-text > p:nth-of-type(2) {
    width: 376px;
}
.position-relative {
    position: relative;
    padding: 20px 0;
}
.position-relative > div::after {
    content: "";
    position: absolute;
    background-image: url(../img/white-arrow-left.png);
    width: 152px;
    height: 40px;
    bottom: -5px;
    left: 50px;
}
.join-clan {
    margin-top: 42px;
    border: 3px solid #26C7EA;
    width: 260px;
    height: 80px;
    border-radius: 45px 0px;
    background: #0B0E66;
}
.join-clan > p {
    width: 199px;
    color: #26C7EA;
    font-size: 24px;
}
.icons {
    flex-direction: column;
}
.icons > img:nth-of-type(1) {
    margin-bottom: 24px;
}
.icons > img:nth-of-type(2) {
    margin-bottom: 24px;
}
.card1 {
    background-color: #fff;
    padding: 75px 0 8px;
}
.blue {
    color: #0A3853;
}
.black {
    color: #141414;
}
.card1 > h2 {
    font-size: 36px;
}
.card1 > p {
    color: #000;
    font-size: 24px;
    padding-top: 16px;
    font-family: none;
}
.watch-trailer {
    background-image: url(../img/watch-trailer-bg.jpg);
    background-size: cover;
    padding: 355px 0 356px 0;
}
.watch-trailer-button {
    width: 260px;
    height: 80px;    
    border-radius: 45px 0px;
    border: 3px solid #26C7EA;
    background: #0B0E66;
}
.watch-trailer-button > p {
    color: #26C7EA;
    font-size: 24px;
}
.avatar-language {
    background-image: url(../img/avatar-language-bg.jpg);
    background-size: cover;
}
.avatar-language > p {
    color: #141414;
    font-size: 32px;  
    padding: 58px 0 45px 0;
}
.first-cards-line {
    justify-content: space-evenly;
}
.first-cards-line > div {
    width: 320px;
    height: 240px;
    background-color: #FFFFFF;
    opacity: 0.7;
}
.card-text > p:nth-of-type(1) {
    color: #141414;
    font-size: 24px;
    line-height: 24px;
    padding-top: 36px;
}
.card-text > p:nth-of-type(2) {
    color: #000;
    font-size: 24px;    
    line-height: 24px;
    padding-top: 108px;
}
.card-text {
    position: relative;
}
.left-blue-arrow::before {
    content: "";
    position: absolute;
    background-image: url(../img/left-blue-arrow.png);
    width: 152px;
    height: 40px;
    top: 100px;
    left: 85px;
}
.small-bird-arrows::before {
    content: "";
    position: absolute;
    background-image: url(../img/small-bird-arrows.png);
    width: 152px;
    height: 40px;
    top: 100px;
    left: 85px;
}
.right-blue-arrow::before {
    content: "";
    position: absolute;
    background-image: url(../img/right-blue-arrow.png);
    width: 152px;
    height: 40px;
    top: 100px;
    left: 85px;
}
.second-cards-line {
    justify-content: space-evenly;
    padding-top: 24px;
    padding-bottom: 58px;
}
.second-cards-line > div {
    width: 320px;
    height: 240px;
    background-color: #FFFFFF;
    opacity: 0.7;
}
.footer-content {
    background-image: url(../img/footer-header-bg.jpg);
    background-size: cover;
}
.content3 {
    background: rgba(43, 74, 97, 0.87);
    height: 223px;
    justify-content: space-around;
}
.white-line {
    width: 2px;
    height: 153px;
    background-color: #FFF;
}
.footer-second-line {
    padding-top: 16px;
}
.footer-first-line > img,
.footer-second-line > img {
    height: 2px;
    margin-top: 10px;
    padding: 0 20px;
}
.footer-third-line > p {
    font-size: 14px;
    padding-top: 37px;
}